*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



body {
  font-family: 'Dancing Script', cursive;
  background-image: url('assets/homeimage.jpg');
  background-attachment: fixed;
  background-size: cover;
}


header {
    font-size: 2rem;
}



header h1{
  line-height: 1.2;
  padding: 1rem;

}

button {
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  border-style: none;
  outline: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  border-bottom: 1px solid #222;
  color: rgb(252, 203, 186);

}

.resname{
    font-family: 'Tangerine', cursive;
    font-size: 5rem;
    font-style: italic;
    max-width: 100%;
}

.list {
  display: grid;
  grid-auto-flow: column;
  list-style-type: none;
  column-gap: 20px;
}

.dropDown {
  display: none;
}

.menubar {
   display: block !important; 
}

.button-nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    transition: transform 0.3s;
  }

.button-nav.active {
  border-bottom: 2px solid rgba(224, 184, 184, 0.89);
}

.button-nav:hover {
  transform: translateY(-10%);
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
    margin: 6rem 0;
    font-size: 4rem;
    background-color: rgba(0, 0, 0, 0.6);
  }




/* home page */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  animation: fadeIn 1.5s;
  padding: 15px;
  
}

.homeContentCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
}

.home p {
  padding: 1rem;
}

.home p:nth-child(1){
    color: antiquewhite;
    font-size: 6rem;
}

.home p:nth-child(2){
    color: antiquewhite;
    font-size: 4rem;
    margin-bottom: 10px;
    font-family: 'Tangerine', cursive;
}

.btn{
    width: 150px;
    height: 20%;
    font-size: 1.2rem;
    padding: 15px;
    background-color: rgb(6, 156, 51);
    border-radius: 10px;
    color: antiquewhite;
    transition: transform 0.3s;
    margin-bottom: 1.5rem;
}

.btn:hover{
    transform: translateY(-10%);
}

.homeAbout {
    margin-top: 150px;
    align-self: center;
}

.about-us {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  padding: 6rem;
}

.about-us h1 {
  font-size: 5rem;
  color: antiquewhite;
  align-self: flex-start;
}

.about-img-text {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 3rem;
  
}

.about-img {
  width: 50%;
  overflow: hidden;
  margin: 0;
  padding: 0;
 
}

.about-img img {
  display: block;
  width: 100%;
}


.about-text {
  font-size: 3rem;
  color: antiquewhite;
  width: 50%;
  font-family:'Tangerine', cursive;

}



/* menu page */
.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.5rem;
  animation: fadeIn 1.5s;
  padding: 3rem;
}

.menutitle{
  font-size: 4rem;
  color: rgb(252, 203, 186);
  animation: fadeIn 1.5s;
}


.menu-info {
  width: 250px;
  cursor: pointer;
  color: antiquewhite;
  transition: background-color 0.3s;
  padding: 1rem;
  border: 1px solid #222;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
}

.img-con{
  width: auto;
  overflow: hidden;
  margin: 0;
}

.img-con img{
  display: block;
  width: 100%;
}

.menu-info h2 {
  padding: 1rem;
  font-size: 2rem;
}

.menu-info p {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 40px;
  padding: 1rem;
}

.menu-info span{
  position: absolute;
  font-size: 1rem;
  padding: 1rem;
  border: 1px solid #222;
  border-radius: 5px;
  color: rgb(50, 189, 50);
  text-align: center;
  bottom: 2%;
  font-weight: bold;
}

.menu-btn{
  max-width: 100%;
  width: 150px;
  font-size: 1.2rem;
  padding: 15px;
  background-color: rgb(6, 156, 51);
  border-radius: 10px;
  color: antiquewhite;
  transition: transform 0.3s;
}

.menu-btn:hover{
  transform: translateY(-10%);
}

/* contact */
.contactCon{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.5rem;
  animation: fadeIn 1.5s;
  padding: 3rem;
  border: 1px solid #222;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0;
}

.content{
  width: 200px;
  height: auto;
  cursor: pointer;
  color: antiquewhite;
  transition: background-color 0.3s;
  padding: 1rem;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  
}

.content h1 {
  padding: 1rem;
  font-size: 2rem;
}

.content p {
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 40px;
}

/* Animations */

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }


.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  border-top: 1px solid #222;
  background-color: rgba(0, 0, 0, 0.6);
  color: antiquewhite;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fa-github {
  font-size: 2rem;
  color: antiquewhite;
}

.fa-github:hover {
  color: rgba(0, 0, 0, 0.9);
}


/* Media queries */

@media (min-width: 1200px) {
  .about-text {
    font-size: 3rem;
  }
}

@media (max-width: 1100px) {

  .main {
    padding: 0;
  }

  .resname {
    font-size: 5rem;
  }

  .home p:nth-child(2){
    font-size: 3rem;
}


  .menu {
    grid-template-columns: repeat(2, 1fr);
  }

  .contactCon {
    grid-template-columns: repeat(2, 1fr) ;
  }

  .about-img-text {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .about-img {
    width: 100%;
  }

  .about-img img {
    width: 100%;
    padding: 2rem;
  }


  .about-text {
    width: 100%;
    font-size: 3rem;
    padding: 1rem;
  }

 
}

@media (max-width: 799px) {
  .main {
    padding: 0;
  }

  .about-img-text {
    padding: 1rem;
  }

  .about-img img {
    padding: 1rem;
  }

  .contact {
    padding: 2rem;
  }

  .contactCon {
    padding: 2rem;
  }

  .menutitle {
    padding: 1rem;
  }
}


@media (max-width: 650px) {
  .main {
    padding: 0;
  }

  .mobileHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }


  .dropDown{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    padding: 15px;
    border-radius: 5px;
    color: antiquewhite;
    background-color: transparent;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    transition: transform 0.3s;
  }


  .dropDown:hover{
    transform: translateY(-30%);
  }

  .dropDown.active{
    margin-left: 38px;
  }

  .dropDown img{
    width: 25px;
  }


  .menubar{
    display: none;
  }

  .menubar.active{
    display: flex;
    align-items: center;
    justify-content: center;
 }



  .list{
    display: none;
 }

  .list.active {
    display: grid;
    grid-auto-flow: row;
    list-style-type: none;
    row-gap: 10px;
    column-gap: 0;
    justify-items: center;
    animation: fadeIn 1.5s;
  }

 
 


/* main */
  .home {
    width: 100%;
    padding: 2rem;
  }

  .home p:nth-child(1){
    font-size: 4rem;
}

  .header{
    width: 100%;
  }
  .resname {
    font-size: 4rem;
  }

  .homeAbout {
    padding: 2rem;
  }

  .about-us {
    padding: 0.3rem;
  }

  .about-us h1 {
    font-size: 3rem;
  }

  .about-img-text {
    padding: 1rem;
  }
 

  .menu {
    grid-template-columns: 1fr;
  }

  .contactCon {
    grid-template-columns: 1fr ;
  }

  .menutitle {
    font-size: 3.5rem;
    /* margin-top: 2rem */
    padding: 2rem;
  }

 

}



@media (max-width: 400px) {

  .main {
    padding: 0rem;
  }

  .header{
    width: 100%;
  }

  .home p {
    padding: 0.4rem;
  }

  .home p:nth-child(2){
    font-size: 2rem;
  }


  .resname {
    font-size: 3rem;
  }

  .button-nav{
    font-size: 0.8rem;
  }

  .dropDown.active{
    margin-left: 26px;
  }

  .home {
    padding: 2rem;
  }

  .homeAbout {
    padding: 1rem;
  }

  .about-us {
    padding: 0.3rem;
  }

  .about-us h1 {
    font-size: 3rem;
  }

  .about-img-text {
    padding: 1rem;
  }

  .menutitle {
    font-size: 2.5rem;
    margin-top: 1rem;
  }

  
 
}
